##Development Environment Variables
#https://dev.emportal.me/#/
# This file contains environment variables for the development environment.
# NODE_ENV=development
# BASE_URL=https://dev.emportal.me/
# USER=srikanth.mallela@edvenswatech.com
# PASSWORD=***********
##Production Environment Variables
# https://edvenswatech.emportal.me/
# This file contains environment variables for the production environment.
NODE_ENV=production
BASE_URL=https://edvenswatech.emportal.me/
USER=sudhakar.midde@edvenswatech.com
PASSWORD=*********
RATING_START_DATE=15/06/2026
SUBMIT_RATING=false
# Note: Uncomment the production variables and comment out the development variables when deploying to production.