##Development Environment Variables
#https://dev.emportal.me/#/
# This file contains environment variables for the development environment.
# NODE_ENV=development
# BASE_URL=https://dev.emportal.me/
# USER=your.email@example.com
# PASSWORD=your_password_here
##Production Environment Variables
# https://edvenswatech.emportal.me/
# This file contains environment variables for the production environment.
NODE_ENV=production
BASE_URL=https://edvenswatech.emportal.me/
USER=your.email@example.com
PASSWORD=your_password_here
RATING_START_DATE=16/06/2026
RATING_END_DATE=30/06/2026
SUBMIT_RATING=false
# Note: Copy this file to .env, then uncomment the environment block you want to use and comment out the other block.