
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/package-lock.json
# Next.js
.next/
/tests/captcha.png
/tests/timesheet-filled.png
/tests/timesheet-submitted.png
/tests/timesheet-filling.png
/tests/self-rating-filled.png
/tests/self-rating-submitted.png
.playwright-mcp/*.log
.playwright-mcp/*.yml
# Visual Studio Code
.vscode
.vscode/settings.json